<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
     <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <form>
        <ion-list>
          <ion-item>
                      <ion-label position="floating">Old Password</ion-label>
                      <ion-input type="text"></ion-input>
                      </ion-item>
         </ion-list>
         <ion-list>
         <ion-item>
                      <ion-label position="floating">New Password (8 chars. min.)</ion-label>
                      <ion-input type="Password" maxlength="12"></ion-input>
                      </ion-item>
         </ion-list>
      </form>
  <ion-button expand="block" color="primary" routerLink="/resume" routerDirection="Forward">Change Password</ion-button>

</ion-content>
