 <ion-header translucent>
   <ion-toolbar color="primary">
      <ion-searchbar animated  (ionInput)="filterList($event)"></ion-searchbar>
   </ion-toolbar>
  </ion-header>

  <ion-header *ngIf="!hasVerifiedEmail" padding class="verify-email">
    Please verify your account to be seen by companies
    <br>
    <ion-button color="secondary" (click)="sendVerificationEmail()" class="verifybutton">Send Verification</ion-button>
  </ion-header>

<ion-content>

  <ion-card class="job-card" *ngFor="let item of jobPostingsList" >
      <ion-card-header>
        <ion-card-title>
        {{item.jobTitle}}
        <app-animated-like></app-animated-like>
        </ion-card-title>
        <ion-card-subtitle>{{item.companyName}} in {{item.jobCity}},{{item.jobState}}</ion-card-subtitle>
        <ion-card-subtitle color="dark">Pay Rate: ${{item.minSalary}}-${{item.maxSalary}} Anually</ion-card-subtitle>
        <ion-card-subtitle color="dark">Type: {{item.jobPosition}}</ion-card-subtitle>
      </ion-card-header>
   
    <ion-row class="cardfooter">
      <ion-col>
        <ion-button class="button2" [routerLink]="['/viewdetails', item.eventId]" color="success" fill="solid">Details</ion-button>
        <ion-button expand="block" routerLink="/contactinfo" routerDirection="Forward">Apply Now</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>


</ion-content>


