ion-avatar{
    margin-left: 9em;
}

ion-card-title{
    margin-top: 0.5em;
    height: 10px;
    margin-left: 1.5em;
}

ion-label {
    margin-left: 1em;
}

ion-button {
    margin-top: 1em;
    margin-left: 1em;
    width: 343px;
}

.call icon{
    margin-left: 5em;
}


